body {
  height: 100%;
}

#container {
  height: 100%;
  background-color: #E7F5FE;
}

.color {
  animation-name: color;
  animation-duration: 4s;
}

.circle {
  background-color: #59B6AE;
  display: inline-block;
  border-radius: 50%;
  height: 7.5vw;
  width: 7.5vw;
  animation: color 3.2s linear infinite, updown 2.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes color {
0%    {background-color: #59B6AE}
25%   {background-color: #4D3771}
50%   {background-color: #EC6364}
75%   {background-color: #FFDB68}
100%  {background-color: #59B6AE}
}

@keyframes updown {
0%    {transform: translateY(0vh)}
50%   {transform: translateY(82vh)}
100%  {transform: translateY(0vh)}
}
